$bg: #242529;
$raiseBg: #272a2f;
$raiseBorder: #2f3033;
// $raised2Bg: #24272c;
$raised2Bg: #222634;
$raised2Border: #24272e;
$blue: #08fdd8;
$iconColor: rgb(156, 156, 156);
$red: #fc0b56;

@font-face {
    font-family: "girassol";
    src: url("/webfonts/Girassol-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "dancing";
    src: url("/webfonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "inria";
    src: url("/webfonts/InriaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "oswaldLight";
    src: url("/webfonts/Oswald/static/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "azonix";
    src: url("/webfonts/azonix-cufonfonts-webfont/Azonix.woff") format("truetype");
}

@font-face {
    font-family: "futura";
    src: url("/webfonts/futura/Futura\ Book\ font.ttf") format("truetype");
}

@font-face {
    font-family: "futuraLight";
    src: url("/webfonts/futura/futura\ light\ bt.ttf") format("truetype");
}

@font-face {
    font-family: "azedo";
    src: url("/webfonts/azedo/Azedo-Bold.otf") format("truetype");
}

@mixin ulClean() {
    list-style-type: none;
    padding-inline-start: 0px;
}

@mixin aClean() {
    text-decoration: none;
    color: white;
}

@mixin raised() {
    border-radius: 1.5em;
    background-color: $raiseBg;
    border: 1px solid $raiseBorder;
    box-shadow:
        // -4px -4px 5px 0 rgba(0, 0, 0, 0.1),
        // 12px 12px 12px 0 rgba(0, 0, 0, 0.2);
        -2px -2px 5px 0 rgba(255, 255, 255, 0.5),
        12px 12px 12px 0 rgba(0, 0, 0, 1);
}

@mixin raised2() {
    border-radius: 1.5em;
    background-color: $raised2Bg;
    // border: 1px solid $raised2Border;
    box-shadow:
        -1px -1px 1px 0 rgba(255, 255, 255, 0.1),
        1px 1px 12px 0 rgba(0, 0, 0, 0.3);
}

@mixin crater() {
    border: 1px solid rgba(53, 53, 53, 0.2);
    background-color: $raised2Bg;
    // border: 1px solid $raised2Border;
    box-shadow:
        inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3),
        inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
}

@mixin vAlign() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin headingFont() {
    line-height: 70px;
    font-family: "futura";
    font-weight: bold;
    font-size: 50px;
}

html,
body {
    height: 100%;
    margin: 0px;
}

body {
    // background-color: $bg;
    background-image: linear-gradient(#101316, #242837);
    background-attachment: fixed;
    color: white;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    font-size: 10px;
    letter-spacing: 1px;
    color: $blue;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.btn_decor {

    font-family: 'inria';
    letter-spacing: 2px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: $blue;
    // border: 1px solid $blue;
    border: none;
    padding: 10px;
    line-height: 20px;
    margin-top: 15px;
    @include raised2();
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        border: 1px solid $red;
    }


}

.sidenav {
    font-family: "oswaldLight";
    font-size: 14px;
    @include vAlign();
    @include raised2();
    width: 70px;
    height: 90%;
    position: fixed;
    left: -100%;
    animation-fill-mode: forwards;
    animation-name: 'sidenavAnim';
    animation-duration: 1s;
    animation-delay: 1s;

    .logo {
        //@include raised2();
        //border-radius: 1.5em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            height: 30px;
            margin-top: 10px;
        }
    }

    .navUl {
        @include ulClean();
        @include vAlign();

        li {

            @include aClean();

            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 15px;
            line-height: 40px;

            .nav-link {
                padding: 0;

                .name {
                    font-family: "futuraLight";
                    font-size: 12px;
                    padding: 0;
                    line-height: 10px;
                    color: rgb(211, 211, 211);

                }
            }

            i {
                font-size: 16px;
                margin-top: 0px;
                margin-left: 2px;
            }

            i.active {
                color: $blue;

            }

            &:hover {

                i {
                    color: $blue;
                }
            }



            a {
                color: $iconColor;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;


        a {
            text-decoration: none;

            &:hover {
                i {
                    color: $blue;
                }
            }
        }

        i {
            font-size: 16px;
            display: block;
            color: $iconColor;
            margin: 15px;
        }

    }
}

@keyframes sidenavAnim {
    0% {
        left: -100%;
    }

    100% {
        left: 1%;
    }
}

.mobileMenu {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    background-color: #121214;

    .fa-bars {
        margin: 12px;
        // color: $iconColor;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    .buttonArea {
        height: 50px;
        width: 100%;
        right: -100%;
        position: absolute;
        background-color: #121214;

        ul.navUl {
            @include ulClean();
            @include vAlign();
            display: inline;
            margin-bottom: 0;

            li {
                display: inline;

                a {
                    @include aClean();

                }


            }
        }
    }

}

.animMenu {
    animation-name: menuAnim;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menuAnim {
    from {
        right: -100%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

.animMenuClose {
    animation-name: menuAnimClose;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menuAnimClose {
    from {
        right: 0%;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
    }
}

#home {

    height: 100vh;

    .contentDiv {
        @include vAlign();

    }

    .textDiv {
        opacity: 0;
        animation-name: 'tagLine';
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

.wrapperDiv {
    width: 100%;
    user-select: none;
    cursor: default;

    .contentDiv {
        // padding-top: 50px;
        //@include vAlign();
        @include headingFont();
        margin-left: 5%;
        margin-right: 5%;

        .title {

            .fancy {
                display: inline;
            }

            span {
                opacity: 0;
                transition: all 50ms ease;
            }

            .fade {
                opacity: 1;
                transform: translateY(0px);

                &:hover {
                    color: $blue;
                }
            }

            .bounce {
                animation-name: 'bounceAnim';
                animation-duration: 50ms;
                animation-timing-function: linear;
            }

            @keyframes bounceAnim {
                0% {
                    transform: translateY(0px);
                }

                100% {
                    transform: translateY(-10px);
                }
            }

        }

        .textDiv {
            font-size: 14px;
            font-family: "futuraLight";
            letter-spacing: 3px;
            color: #ffffff;
            max-width: 700px;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #contact_btn {
            opacity: 0;
            animation-name: 'tagLine';
            animation-duration: 1s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        @keyframes tagLine {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


        .bigLetter {
            user-select: none;
            z-index: -1;
            position: absolute;
            right: 20%;
            top: -100%;
            transform: rotate(-20deg);

            img {
                height: 400px;
            }
        }
    }

}

@keyframes blink {
    0% {
        text-shadow: -5px 5px 0px $blue;
    }

    50% {
        text-shadow: -15px 15px 0px $blue;
    }

    100% {
        text-shadow: -5px 5px 0px $blue;
    }
}

.active {
    color: $blue !important;
    // @include crater();
}

form {

    input {
        box-sizing: none;
        width: 100%;
        margin-top: 20px;
        background-color: #242837;
        letter-spacing: 1px;
        padding-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        color: white;
        @include crater();

    }

    textarea {
        color: white;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #242837;
        margin-top: 20px;
        box-sizing: none;
        width: 100%;
        letter-spacing: 1px;
        padding-left: 10px;
        @include crater();
    }
}

.photo {

    img {
        height: 300px;
        width: 300px;
    }
}

@media(max-width:990px) {
    .wrapperDiv {
        text-align: center;
    }

    .textDiv {
        max-width: 100% !important;
    }

    #contact_btn {
        margin: 0 auto;
    }

    .bigLetter {

        img {
            height: 350px !important;

        }
    }
}

@media(max-width:500px) {
    .bigLetter {


        img {
            height: 300px !important;

        }

    }

}

.blue {
    color: $blue;
}

//scrollbar
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 20px 20px 20px #242837;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue;
}