$bg: #242529;
$raiseBg: #272a2f;
$raiseBorder: #2f3033;
// $raised2Bg: #24272c;
$raised2Bg: #222634;
$raised2Border: #24272e;
$blue: #08fdd8;
$iconColor: rgb(156, 156, 156);
$red: #fc0b57;

@font-face {
    font-family: "inria";
    src: url("/webfonts/InriaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "futura";
    src: url("/webfonts/futura/Futura\ Book\ font.ttf") format("truetype");
}

@font-face {
    font-family: "futuraLight";
    src: url("/webfonts/futura/futura\ light\ bt.ttf") format("truetype");
}


@mixin ulClean() {
    list-style-type: none;
    padding-inline-start: 0px;
}

@mixin aClean() {
    text-decoration: none;
    color: white;
}

@mixin raised() {
    border-radius: 1.5em;
    background-color: $raiseBg;
    border: 1px solid $raiseBorder;
    box-shadow:
        // -4px -4px 5px 0 rgba(0, 0, 0, 0.1),
        // 12px 12px 12px 0 rgba(0, 0, 0, 0.2);
        -2px -2px 5px 0 rgba(255, 255, 255, 0.5),
        12px 12px 12px 0 rgba(0, 0, 0, 1);
}

@mixin raised2() {
    border-radius: 1.5em;
    background-color: $raised2Bg;
    // border: 1px solid $raised2Border;
    box-shadow:
        -1px -1px 1px 0 rgba(255, 255, 255, 0.1),
        1px 1px 12px 0 rgba(0, 0, 0, 0.3);
}

@mixin crater() {
    border: 1px solid rgba(53, 53, 53, 0.2);
    background-color: $raised2Bg;
    // border: 1px solid $raised2Border;
    box-shadow:
        inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3),
        inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
}

@mixin vAlign() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin headingFont() {
    line-height: 70px;
    font-family: "futura";
    font-weight: bold;
    font-size: 3rem;
}

html,
body {
    margin: 0px;
    overflow-x: hidden;
}

body {
    // background-color: $bg;
    background-image: linear-gradient(#101316, #242837);
    background-attachment: fixed;
    color: white;

}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $blue;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.btn_decor {

    font-family: 'inria';
    letter-spacing: 2px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    color: $blue;
    // border: 1px solid $blue;
    border: none;
    padding: 10px;
    line-height: 20px;
    margin-top: 15px;
    @include raised2();
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        border: 1px solid $red;
    }

    &:focus {
        outline: none;
    }


}

.sidenav {
    font-family: "futuraLight";
    font-size: 14px;
    @include vAlign();
    @include raised2();
    width: 70px;
    height: 90%;
    position: fixed;
    left: -100%;
    animation-fill-mode: forwards;
    animation-name: 'sidenavAnim';
    animation-duration: 1s;
    animation-delay: 1s;

    .logo {
        //@include raised2();
        //border-radius: 1.5em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            height: 30px;
            margin-top: 10px;
        }
    }

    .navUl {
        @include ulClean();
        @include vAlign();

        li {

            @include aClean();

            width: 50px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 15px;
            line-height: 40px;

            .nav-link {
                padding: 0;

                .name {
                    font-family: "futuraLight";
                    font-size: 12px;
                    padding: 0;
                    line-height: 10px;
                    color: rgb(211, 211, 211);

                }
            }

            i {
                font-size: 16px;
                margin-top: 0px;
                margin-left: 2px;
            }

            i.active {
                color: $blue;

            }

            &:hover {

                i {
                    color: $blue;
                }
            }



            a {
                color: $iconColor;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;


        a {
            text-decoration: none;

            &:hover {
                i {
                    color: $blue;
                }
            }
        }

        i {
            font-size: 16px;
            display: block;
            color: $iconColor;
            margin: 15px;
        }

    }
}

@keyframes sidenavAnim {
    0% {
        left: -100%;
    }

    100% {
        left: 1%;
    }
}

.mobileMenu {
    z-index: 2;
    position: fixed;
    transition: top 1s;
    top: -100%;
    width: 100%;
    text-align: right;

    background-color: #121214;
    animation: 'menuEntry';
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    .fa-bars {
        margin: 12px;
        // color: $iconColor;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    .buttonArea {
        height: 50px;
        width: 100%;
        right: -100%;
        position: absolute;
        background-color: #121214;

        ul.navUl {
            @include ulClean();
            @include vAlign();
            display: inline;

            li {
                display: inline;

                a {
                    @include aClean();

                }


            }
        }
    }

}

@keyframes menuEntry {
    0% {
        top: -100%;
    }

    100% {
        top: 0%;
    }
}

.animMenu {
    animation-name: menuAnim;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menuAnim {
    from {
        right: -100%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

.animMenuClose {
    animation-name: menuAnimClose;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menuAnimClose {
    from {
        right: 0%;
        opacity: 1;
    }

    to {
        right: -100%;
        opacity: 0;
    }
}

#home {

    height: 100vh;

    .contentDiv {
        @include vAlign();

    }

    .textDiv {
        opacity: 0;
        animation-name: 'tagLine';
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

#home {
    width: 100%;
    user-select: none;
    cursor: default;

    .contentDiv {
        // padding-top: 50px;
        //@include vAlign();
        @include headingFont();
        margin-left: 5%;
        margin-right: 5%;

        .intro {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .title {

            .fancy {
                display: inline;
            }

            span {
                opacity: 0;
                transition: all 50ms ease;
            }

            .fade {
                opacity: 1;
                transition: all 50ms ease;

                &:hover {
                    color: $blue;
                    font-size: 3.2rem;
                }
            }

            .bounce {
                animation-name: 'bounceAnim';
                animation-duration: 50ms;
                animation-timing-function: linear;
            }

            @keyframes bounceAnim {
                0% {
                    transform: translateY(0px);
                }

                100% {
                    transform: translateY(-10px);
                }
            }

        }

        .textDiv {
            font-size: 14px;
            font-family: "futuraLight";
            letter-spacing: 3px;
            color: #ffffff;
            // max-width: 700px;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #contact_btn {
            opacity: 0;
            animation-name: 'tagLine';
            animation-duration: 1s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        @keyframes tagLine {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


        .bigLetter {
            user-select: none;
            z-index: -1;
            position: relative;
            top: 30%;
            transform: rotate(-20deg) translateY(-50%);

            img {
                height: 400px;
            }
        }
    }

}


.wrapperDiv {
    width: 100%;
    user-select: none;
    cursor: default;

    .contentDiv {
        // padding-top: 50px;
        //@include vAlign();
        @include headingFont();
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;

        .title {

            .fancy {
                display: inline;
            }

            span {
                opacity: 0;
                transition: all 50ms ease;
            }
        }

        .textDiv {
            font-size: 14px;
            font-family: "futuraLight";
            letter-spacing: 3px;
            color: #ffffff;
            // max-width: 700px;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }

}

@keyframes blink {
    0% {
        text-shadow: -5px 5px 0px $blue;
    }

    50% {
        text-shadow: -15px 15px 0px $blue;
    }

    100% {
        text-shadow: -5px 5px 0px $blue;
    }
}

.active {
    color: $blue !important;
    text-shadow: 0 0 30px #3b5998;
    transition: all 0.5s ease;
    // @include crater();
}

form {

    input {
        box-sizing: none;
        width: 100%;
        margin-top: 20px;
        background-color: #242837;
        letter-spacing: 1px;
        padding-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        color: white;
        @include crater();

    }

    textarea {
        color: white;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #242837;
        margin-top: 20px;
        box-sizing: none;
        width: 100%;
        letter-spacing: 1px;
        padding-left: 10px;
        @include crater();
    }
}

.photo {

    img {
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 300px;
        border-radius: 50%;
    }
}


#resume {
    .list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
    }

    .tile {
        display: flex;
        flex-direction: column;
        @include crater();
        line-height: 30px;
        width: 100%;
        padding: 20px;
        padding-left: 40px;
        border-left: 1px solid $blue;

        &::before {
            content: '';
            position: absolute;
            padding-left: 10px;
            left: 15px;
            border-left: 15px solid $blue;
            border-right: 15px solid transparent;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;

        }

        .tileName {
            font-size: 1.5rem;

            .dur {
                display: inline;
                color: rgb(167, 167, 167);
            }
        }

        .tileSub {
            font-size: 1rem;
            color: rgb(167, 167, 167);
        }

        .tileContent {
            font-size: 1rem;
            color: rgb(167, 167, 167);
        }
    }

    .type {
        margin-top: 20px;
        color: $red;
        font-size: 2rem;
    }

}

.blue {
    color: $blue;
}

//scrollbar
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 20px 20px 20px #242837;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue;
}


//sandwich 
.sandwich {
    width: 30px;
    margin-right: 10px;
    margin-top: 10px;

    &:after,
    &:before,
    div {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
    }

}

.open {
    &:before {
        transform: translateY(10px) rotate(135deg);
    }

    &:after {
        transform: translateY(-10px) rotate(-135deg);
    }

    div {
        transform: scale(0);
    }
}

.email {
    text-decoration: none;
    color: rgb(163, 163, 163);

    &:hover {
        color: $red;
    }
}

.achiList {
    text-align: left;
    padding: 0;
    margin: 0;


    i {
        font-size: 1rem;
        width: 25px;
        text-align: center;
    }

    .achiTitle {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        height: 50px;
    }
}

.skillControls {
    font-size: 1.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    i {
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
}

.skillTile {

    .fadeInPercent {
        animation-name: fadeIn;
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .skillName {
        font-size: 1rem;
        text-align: left;
        opacity: 0;
    }

    .skillArea {
        width: 100%;
        height: 10px;
        background-color: grey;



        .skillBar {
            width: 0%;
            height: 10px;
            background-color: $blue;
            text-align: right;
            transition: all 1s ease;

            .skillPercent {
                font-size: 1rem;
                position: relative;
                top: - 50px;
                opacity: 0;

            }
        }
    }

    .skillDropdown {
        font-size: 1rem;
        text-align: right;
        height: auto;

        i {
            height: 5px;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }

        .dropContent {
            height: auto;
            position: relative;
            top: 0;
            left: 0;

            div {
                height: 40px;
                padding: 0;
                margin: 0;
            }
        }

    }

}

#projects {
    .active_tab {
        border: 1px solid $red;
    }

    .proj {
        padding-bottom: 20px;

        a {
            color: white;
        }

        .projName {
            display: inline;
        }

        .imgDiv {
            width: 100%;
            max-height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;

            filter: grayscale(80%);

            &:hover {
                filter: none;
            }
        }
    }

    .crater {
        padding: 10px;
        @include crater();
        max-height: 500px;
        overflow-y: auto;
    }
}

#footer {
    width: 100%;
    font-size: 1rem;
    font-family: 'futura';
    text-align: right;
    padding: 5px;
    color: rgb(187, 187, 187);
}

@media(max-width:990px) {
    .wrapperDiv {
        text-align: center;
    }

    .textDiv {}

    .intro {
        text-align: center !important;
    }

    #contact_btn {
        margin: 0 auto;
    }

    .tile {
        width: 100% !important;
    }

    .bigLetter {

        img {
            height: 350px !important;

        }
    }

    #about {
        .contentDiv {
            text-align: center;
        }
    }

    #footer {
        text-align: center;
    }


}

@media(max-width:500px) {
    .bigLetter {

        img {
            height: 250px !important;
            margin-left: 15%;
        }

    }

}