@font-face {
  font-family: "inria";
  src: url("/webfonts/InriaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "futura";
  src: url("/webfonts/futura/Futura Book font.ttf") format("truetype");
}

@font-face {
  font-family: "futuraLight";
  src: url("/webfonts/futura/futura light bt.ttf") format("truetype");
}

html,
body {
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#101316), to(#242837));
  background-image: linear-gradient(#101316, #242837);
  background-attachment: fixed;
  color: white;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #08fdd8;
  text-align: center;
  background-color: #000;
  border-radius: .25rem;
}

.btn_decor {
  font-family: 'inria';
  letter-spacing: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  color: #08fdd8;
  border: none;
  padding: 10px;
  line-height: 20px;
  margin-top: 15px;
  border-radius: 1.5em;
  background-color: #222634;
  -webkit-box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.1), 1px 1px 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.1), 1px 1px 12px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn_decor:hover {
  border: 1px solid #fc0b57;
}

.btn_decor:focus {
  outline: none;
}

.sidenav {
  font-family: "futuraLight";
  font-size: 14px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 1.5em;
  background-color: #222634;
  -webkit-box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.1), 1px 1px 12px 0 rgba(0, 0, 0, 0.3);
          box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.1), 1px 1px 12px 0 rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 90%;
  position: fixed;
  left: -100%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: 'sidenavAnim';
          animation-name: 'sidenavAnim';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sidenav .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sidenav .logo img {
  height: 30px;
  margin-top: 10px;
}

.sidenav .navUl {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidenav .navUl li {
  text-decoration: none;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
  line-height: 40px;
}

.sidenav .navUl li .nav-link {
  padding: 0;
}

.sidenav .navUl li .nav-link .name {
  font-family: "futuraLight";
  font-size: 12px;
  padding: 0;
  line-height: 10px;
  color: lightgray;
}

.sidenav .navUl li i {
  font-size: 16px;
  margin-top: 0px;
  margin-left: 2px;
}

.sidenav .navUl li i.active {
  color: #08fdd8;
}

.sidenav .navUl li:hover i {
  color: #08fdd8;
}

.sidenav .navUl li a {
  color: #9c9c9c;
}

.sidenav .navUl li a:focus {
  outline: none;
}

.sidenav .social {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.sidenav .social a {
  text-decoration: none;
}

.sidenav .social a:hover i {
  color: #08fdd8;
}

.sidenav .social i {
  font-size: 16px;
  display: block;
  color: #9c9c9c;
  margin: 15px;
}

@-webkit-keyframes sidenavAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 1%;
  }
}

@keyframes sidenavAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 1%;
  }
}

.mobileMenu {
  z-index: 2;
  position: fixed;
  -webkit-transition: top 1s;
  transition: top 1s;
  top: -100%;
  width: 100%;
  text-align: right;
  background-color: #121214;
  -webkit-animation: 'menuEntry';
          animation: 'menuEntry';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mobileMenu .fa-bars {
  margin: 12px;
  color: white;
}

.mobileMenu .fa-bars:hover {
  cursor: pointer;
}

.mobileMenu .buttonArea {
  height: 50px;
  width: 100%;
  right: -100%;
  position: absolute;
  background-color: #121214;
}

.mobileMenu .buttonArea ul.navUl {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline;
}

.mobileMenu .buttonArea ul.navUl li {
  display: inline;
}

.mobileMenu .buttonArea ul.navUl li a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes menuEntry {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes menuEntry {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.animMenu {
  -webkit-animation-name: menuAnim;
          animation-name: menuAnim;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuAnim {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes menuAnim {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.animMenuClose {
  -webkit-animation-name: menuAnimClose;
          animation-name: menuAnimClose;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuAnimClose {
  from {
    right: 0%;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

@keyframes menuAnimClose {
  from {
    right: 0%;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

#home {
  height: 100vh;
}

#home .contentDiv {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#home .textDiv {
  opacity: 0;
  -webkit-animation-name: 'tagLine';
          animation-name: 'tagLine';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#home {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

#home .contentDiv {
  line-height: 70px;
  font-family: "futura";
  font-weight: bold;
  font-size: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

#home .contentDiv .intro {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#home .contentDiv .title .fancy {
  display: inline;
}

#home .contentDiv .title span {
  opacity: 0;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

#home .contentDiv .title .fade {
  opacity: 1;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

#home .contentDiv .title .fade:hover {
  color: #08fdd8;
  font-size: 3.2rem;
}

#home .contentDiv .title .bounce {
  -webkit-animation-name: 'bounceAnim';
          animation-name: 'bounceAnim';
  -webkit-animation-duration: 50ms;
          animation-duration: 50ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounceAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounceAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

#home .contentDiv .textDiv {
  font-size: 14px;
  font-family: "futuraLight";
  letter-spacing: 3px;
  color: #ffffff;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home .contentDiv #contact_btn {
  opacity: 0;
  -webkit-animation-name: 'tagLine';
          animation-name: 'tagLine';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tagLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tagLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home .contentDiv .bigLetter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
  position: relative;
  top: 30%;
  -webkit-transform: rotate(-20deg) translateY(-50%);
          transform: rotate(-20deg) translateY(-50%);
}

#home .contentDiv .bigLetter img {
  height: 400px;
}

.wrapperDiv {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.wrapperDiv .contentDiv {
  line-height: 70px;
  font-family: "futura";
  font-weight: bold;
  font-size: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.wrapperDiv .contentDiv .title .fancy {
  display: inline;
}

.wrapperDiv .contentDiv .title span {
  opacity: 0;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.wrapperDiv .contentDiv .textDiv {
  font-size: 14px;
  font-family: "futuraLight";
  letter-spacing: 3px;
  color: #ffffff;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@-webkit-keyframes blink {
  0% {
    text-shadow: -5px 5px 0px #08fdd8;
  }
  50% {
    text-shadow: -15px 15px 0px #08fdd8;
  }
  100% {
    text-shadow: -5px 5px 0px #08fdd8;
  }
}

@keyframes blink {
  0% {
    text-shadow: -5px 5px 0px #08fdd8;
  }
  50% {
    text-shadow: -15px 15px 0px #08fdd8;
  }
  100% {
    text-shadow: -5px 5px 0px #08fdd8;
  }
}

.active {
  color: #08fdd8 !important;
  text-shadow: 0 0 30px #3b5998;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

form input {
  -webkit-box-sizing: none;
          box-sizing: none;
  width: 100%;
  margin-top: 20px;
  background-color: #242837;
  letter-spacing: 1px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid rgba(53, 53, 53, 0.2);
  background-color: #222634;
  -webkit-box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
}

form textarea {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #242837;
  margin-top: 20px;
  -webkit-box-sizing: none;
          box-sizing: none;
  width: 100%;
  letter-spacing: 1px;
  padding-left: 10px;
  border: 1px solid rgba(53, 53, 53, 0.2);
  background-color: #222634;
  -webkit-box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
}

.photo img {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 300px;
  border-radius: 50%;
}

#resume .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#resume .tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(53, 53, 53, 0.2);
  background-color: #222634;
  -webkit-box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 1px 1px 12px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 1px 0 rgba(255, 255, 255, 0.1);
  line-height: 30px;
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  border-left: 1px solid #08fdd8;
}

#resume .tile::before {
  content: '';
  position: absolute;
  padding-left: 10px;
  left: 15px;
  border-left: 15px solid #08fdd8;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

#resume .tile .tileName {
  font-size: 1.5rem;
}

#resume .tile .tileName .dur {
  display: inline;
  color: #a7a7a7;
}

#resume .tile .tileSub {
  font-size: 1rem;
  color: #a7a7a7;
}

#resume .tile .tileContent {
  font-size: 1rem;
  color: #a7a7a7;
}

#resume .type {
  margin-top: 20px;
  color: #fc0b57;
  font-size: 2rem;
}

.blue {
  color: #08fdd8;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 20px 20px 20px #242837;
          box-shadow: inset 20px 20px 20px #242837;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08fdd8;
}

.sandwich {
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.sandwich:after, .sandwich:before,
.sandwich div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 3px;
  margin: 7px 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.open:before {
  -webkit-transform: translateY(10px) rotate(135deg);
          transform: translateY(10px) rotate(135deg);
}

.open:after {
  -webkit-transform: translateY(-10px) rotate(-135deg);
          transform: translateY(-10px) rotate(-135deg);
}

.open div {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.email {
  text-decoration: none;
  color: #a3a3a3;
}

.email:hover {
  color: #fc0b57;
}

.achiList {
  text-align: left;
  padding: 0;
  margin: 0;
}

.achiList i {
  font-size: 1rem;
  width: 25px;
  text-align: center;
}

.achiList .achiTitle {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  height: 50px;
}

.skillControls {
  font-size: 1.5rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.skillControls i:hover {
  color: #fc0b57;
  cursor: pointer;
}

.skillTile .fadeInPercent {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skillTile .skillName {
  font-size: 1rem;
  text-align: left;
  opacity: 0;
}

.skillTile .skillArea {
  width: 100%;
  height: 10px;
  background-color: grey;
}

.skillTile .skillArea .skillBar {
  width: 0%;
  height: 10px;
  background-color: #08fdd8;
  text-align: right;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.skillTile .skillArea .skillBar .skillPercent {
  font-size: 1rem;
  position: relative;
  top: -50px;
  opacity: 0;
}

.skillTile .skillDropdown {
  font-size: 1rem;
  text-align: right;
  height: auto;
}

.skillTile .skillDropdown i {
  height: 5px;
  cursor: pointer;
}

.skillTile .skillDropdown i:hover {
  color: #fc0b57;
}

.skillTile .skillDropdown .dropContent {
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.skillTile .skillDropdown .dropContent div {
  height: 40px;
  padding: 0;
  margin: 0;
}

@media (max-width: 990px) {
  .wrapperDiv {
    text-align: center;
  }
  .intro {
    text-align: center !important;
  }
  #contact_btn {
    margin: 0 auto;
  }
  .tile {
    width: 100% !important;
  }
  .bigLetter img {
    height: 350px !important;
  }
  #about .contentDiv {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .bigLetter img {
    height: 250px !important;
    margin-left: 15%;
  }
}
/*# sourceMappingURL=index.css.map */